@-webkit-keyframes sky {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, 0%, 0);
    -ms-transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
}
@-moz-keyframes sky {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, 0%, 0);
    -ms-transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
}
@-o-keyframes sky {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, 0%, 0);
    -ms-transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
}
@keyframes sky {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(100%, -100%, 0);
    -ms-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, 0%, 0);
    -ms-transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0%, 0%, 0);
    -ms-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }
}
@-webkit-keyframes drive-car-1 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
}
@-moz-keyframes drive-car-1 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
}
@-o-keyframes drive-car-1 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
}
@keyframes drive-car-1 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-970%, 761%, 0);
    -ms-transform: translate3d(-970%, 761%, 0);
    -webkit-transform: translate3d(-970%, 761%, 0);
    transform: translate3d(-970%, 761%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2500%, -2061%, 0);
    -ms-transform: translate3d(2500%, -2061%, 0);
    -webkit-transform: translate3d(2500%, -2061%, 0);
    transform: translate3d(2500%, -2061%, 0);
  }
}
@-webkit-keyframes drive-car-2 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
}
@-moz-keyframes drive-car-2 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
}
@-o-keyframes drive-car-2 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
}
@keyframes drive-car-2 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2377%, -2000%, 0);
    -ms-transform: translate3d(2377%, -2000%, 0);
    -webkit-transform: translate3d(2377%, -2000%, 0);
    transform: translate3d(2377%, -2000%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -webkit-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
  }
}
@-webkit-keyframes drive-car-3 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
}
@-moz-keyframes drive-car-3 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
}
@-o-keyframes drive-car-3 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
}
@keyframes drive-car-3 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(1095%, 780%, 0);
    -ms-transform: translate3d(1095%, 780%, 0);
    -webkit-transform: translate3d(1095%, 780%, 0);
    transform: translate3d(1095%, 780%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2155%, -1460%, 0);
    -ms-transform: translate3d(-2155%, -1460%, 0);
    -webkit-transform: translate3d(-2155%, -1460%, 0);
    transform: translate3d(-2155%, -1460%, 0);
  }
}
@-webkit-keyframes drive-car-4 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
}
@-moz-keyframes drive-car-4 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
}
@-o-keyframes drive-car-4 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
}
@keyframes drive-car-4 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-2465%, -2060%, 0);
    -ms-transform: translate3d(-2465%, -2060%, 0);
    -webkit-transform: translate3d(-2465%, -2060%, 0);
    transform: translate3d(-2465%, -2060%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(-235%, -210%, 0);
    -ms-transform: translate3d(-235%, -210%, 0);
    -webkit-transform: translate3d(-235%, -210%, 0);
    transform: translate3d(-235%, -210%, 0);
  }
}
@-webkit-keyframes drive-car-6 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
}
@-moz-keyframes drive-car-6 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
}
@-o-keyframes drive-car-6 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
}
@keyframes drive-car-6 {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  5% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  75% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(6370%, -1386%, 0);
    -ms-transform: translate3d(6370%, -1386%, 0);
    -webkit-transform: translate3d(6370%, -1386%, 0);
    transform: translate3d(6370%, -1386%, 0);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(2570%, 1826%, 0);
    -ms-transform: translate3d(2570%, 1826%, 0);
    -webkit-transform: translate3d(2570%, 1826%, 0);
    transform: translate3d(2570%, 1826%, 0);
  }
}
@-webkit-keyframes fade-people {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes fade-people {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-o-keyframes fade-people {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes fade-people {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
